body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#e8f5e9, #ffffff);
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 12px gray;
}

.photo-header {
    width: 250px;
    border-radius: 50%;
    transition: transform 0.5s;
}

.photo-header:hover {
    transform: scale(1.1);
}

/* MENU */
nav {
    position: sticky;
    top: 0;
    background-color: #2e7d32;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    margin: 0 12px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: yellow;
}

/* MAIN */
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

section {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px gray;
}

/* ASIDE */
aside {
    background: #c8e6c9;
    padding: 15px;
    border-radius: 15px;
}

/* GALERIE */
.galerie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.galerie-grid img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.4s;
}

.galerie-grid img:hover {
    transform: scale(1.05);
}

/* TABLEAU */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #66bb6a;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

/* QR CODE */
.qrcode {
    position: fixed;
    right: 10px;
    top: 200px;
}

/* BOUTON HAUT */
.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px;
    border-radius: 50%;
    font-size: 18px;
}

/* FOOTER */
footer {
    background: #1b5e20;
    color: white;
    text-align: center;
    padding: 20px;
}
